.designed-by .by{
	color: #808080;
    display: inline-block;
    font-family: helvetica,arial;
    font-size: 12px;
    height: 25px;
    line-height: 30px;
    vertical-align: top;
    width: 25px;
}

.designed-by .autor{
	display: inline-block;
	background-image: url('http://gabrielgomez.es/resources/firma_JG.svg');
	height: 25px;
	width: 25px;
	margin-right: 5px;
}

.designed-by .juanjo{
	background-position: 1px 0;
}

.designed-by .gabriel{
	background-position: 25px 0;
}

.designed-by .juanjo:hover{
	background-position: 1px 26px;
}

.designed-by .gabriel:hover{
	background-position: 25px 26px;
}